.container {

}

.hover-div {
  display: none;
  margin: 20px;
}

.hover-div-row {
  display: flex;
}

.hover-div-main {
  width: 200px;
  height: 130px;
}

.hover-div-item {
  width: 100px;
  height: 100px;
}

.hover-div-item2 {
  width: 100px;
}

.charts {
  margin-top: -35px;
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
}

#premiumchart {
  width: 450px;
  height: 450px;
}

#coveragechart {
  width: 450px;
  height: 450px;
}

.flexc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .item {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 180px;
}

.covered {
    border-style: solid;
    border-width: 2px;
    border-color: #109335;
  background-color: #ffffff;
}

.undercovered {
      border-style: solid;
      border-width: 2px;
      border-color: #f7b44a;
    background-color: #ffffff;
}

.notcovered {
      border-style: solid;
      border-width: 2px;
      border-color: #e81717;
    background-color: #ffffff;
}
