.container {

}

.charts {
  display: flex;
  justify-content: center;
}

#premiumchart {
  width: 500px;
  height: 500px;
}

#coveragechart {
  width: 500px;
  height: 500px;
}

.flexc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .item {
  margin: 10px;
  padding: 10px;
  background-color: #D8D8D8;
  width: 200px;
  height: 200px;
}
