{% extends "base.html" %}

{% block cssblock %}
<link href="../static/css/buypolicies.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Recommended</h1>
</div>
<main class="row text-center">
<div class="col-sm-4">
  <img class="proj-cover-img img-responsive center-block"
    src="../static/img/mosquitopicture.png"
    data-toggle="modal" data-target="#project1">
  <h4>Mosquito Insurance</h4>
  <p>
    Protection against Dengue fever, Zika fever, Chikungunya fever, Malaria & Yellow fever
  </p>
</div>
</main>

{% endblock %}
