{% extends "base.html" %}

{% block cssblock %}
<link href="../static/css/buypolicies.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Recommended For You</h1>
</div>
<main>
{% for item in recommended_items %}
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-body">
  <div class="item">
    <img class="proj-cover-img img-responsive center-block"
      src={{item["url"]}} width="320" height="250">
      <h4 class="text-center">{{item["title"]}}</h4>
      <div class="details-div col-sm-3 text-left"></div>
      <div class="col-sm-9 text-right details-div">{{item["pricing"]}}</div>
      <div class ="btn-row col-sm-12 text-center">
        <button type="button" class="btn1 btn btn-primary"
          data-toggle="modal" data-target={{item["htitle"]}}>View Details</button>
        <button type="button" class="btn2 btn btn-success">Buy Now</button>
      </div>
  </div>
            </div>
        </div>
</div>

<div class="modal fade" id={{item["title"]}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <article class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">{{item["title"]}}</h3>
                <p>{{item["summary"]}}</p>
            </div>
            <div class="modal-body">
                {{item["summary"]}}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Buy Now</button>
            </div>
        </article>
    </div>
</div>
{% endfor %}

</main>
{% endblock %}
