{% extends "base.html" %}

{% block cssblock %}
<link href="../static/css/mypolicies.css" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);

    function Title_center(){
      var title_chart=$("#payer_chart_div svg g").find('text').html();
      $("#payer_chart_div svg").find('g:first').html('<text text-anchor="start" \
        x="500" y="141" font-family="Arial" font-size="18" font-weight="bold" \
        stroke="none" stroke-width="0" fill="#000000">'+"Premium Per Annum"+'</text>');
    }

    function drawChart() {
        var premiumData = google.visualization.arrayToDataTable([
          ['Premium', 'Amount'],
          ['Personal Accident',     385],
          ['Death',      90],
          ['Term Life',  390],
          ['Mosquito', 170],
        ]);

        var coverageData = google.visualization.arrayToDataTable([
          ['Coverage Strength', 'Amount'],
          ['Covered',     32],
          ['Uncovered',      68],
        ]);

        var options1 = {
          legend: {position:'none'},
          pieHole: 0.6,
          title: "Premiums Per Annum",
          titleTextStyle: {fontSize: 17, bold: false, fontName: 'Arial'},
          slices: [{color: '#817C7C'}, {color: '#62A8F9'}, {color: '#75B138'}, {color: '#EC5669'}],
        };

        var options2 = {
          legend: {position:'none'},
          pieHole: 0.6,
          title: "Coverage Strength",
          tooltip: {text:'percentage'},
          titleTextStyle: {fontSize: 17, bold: false, fontName: 'Arial'},
          slices: [{color: '#62A8F9'}, {color: '#E53F53'}],
          pieStartAngle: 180,
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('premiumchart'));
        chart1.draw(premiumData, options1);
        $("text:contains(" + options1.title + ")").attr({'x':'145', 'y':'410'})

        var chart2 = new google.visualization.PieChart(document.getElementById('coveragechart'));
        chart2.draw(coverageData, options2);
        $("text:contains(" + options2.title + ")").attr({'x':'158', 'y':'408'})
      }

</script>
{% endblock %}

{% block xblock %}
<script type="text/javascript" src="../static/js/tipped/tipped.js"></script>
<link rel="stylesheet" type="text/css" href="../static/js/tipped/tipped.css"/>
{% endblock %}

{% block content %}

<main>

<div class="container">
  <div class="charts text-center">
    <div class="chartitem">
      <div id="premiumchart"></div>
    </div>
    <div class="chartitem">
      <div id="coveragechart"></div>
    </div>
  </div>
  <div class="flexc container">

    {% for policy in current_policies %}
      {% if policy["status"] == "Covered" %}
        <span id={{policy["id"]}} class="tippy item covered text-center">

          <img class="proj-cover-img img-responsive center-block"
               src={{policy["url"]}} width="90" height="90">
          <h4>{{policy["title"]}}</h4>
          <h4><span class="label label-success">{{policy["status"]}}</span></h4>
        </span>

      {% elif policy["status"] == "Undercovered" %}
        <span id={{policy["id"]}} class="tippy item undercovered text-center">

          <img class="proj-cover-img img-responsive center-block"
               src={{policy["url"]}} width="90" height="90">
          <h4>{{policy["title"]}}</h4>
          <h4><span class="label label-warning">{{policy["status"]}}</span></h4>
        </span>
      {% else %}
        <span id={{policy["id"]}} class="tippy item notcovered text-center">

          <img class="proj-cover-img img-responsive center-block"
               src={{policy["url"]}} width="90" height="90">
          <h4>{{policy["title"]}}</h4>
          <h4><span class="label label-danger">{{policy["status"]}}</span></h4>
        </span>
      {% endif %}

      <div id={{policy["id2"]}} class="hover-div">
        <div class="hover-div-row text-center">
          <div class="hover-div-item2">
            <img class="proj-cover-img img-responsive center-block"
                 src="../static/img/compare.png" width="70" height="80">
          </div>
          <div class="hover-div-item2">
            <img class="proj-cover-img img-responsive center-block"
                 src="../static/img/compare1.svg" width="90" height="90">
          </div>
        </div>
        <div class="hover-div-row text-center">
            <div class="hover-div-item2">
              <b>You</b>
            </div>
            <div class="hover-div-item2">
              <b>People Like You</b>
            </div>
        </div>
        <div class="hover-div-row text-center">
          <div class="hover-div-item2">
            {{policy["coverage-you"]}}
          </div>
          <div class="hover-div-item2">
            {{policy["coverage-others"]}}
          </div>
        </div>
        </div>
    {% endfor %}
    <script type="text/javascript">
      {% for policy in current_policies %}
        {% set pid = "#" + policy["id"] %}
        $(document).ready(function() {
          Tipped.create('{{pid}}', {
                inline: '{{policy["id2"]}}',
                skin: 'light',
                radius: false,
                padding: false,
                position: 'topleft',
                size: 'large'
          });
        });
      {% endfor %}

    </script>
    </div>
    <br>
  <div class="flexc container">
    {% for policy1 in current_policies1 %}
    {% if policy1["status"] == "Covered" %}
    <span id={{policy1["id"]}} class="tippy item covered text-center">

          <img class="proj-cover-img img-responsive center-block"
               src={{policy1["url"]}} width="90" height="90">
          <h4>{{policy1["title"]}}</h4>
          <h4><span class="label label-success">{{policy1["status"]}}</span></h4>
        </span>

    {% elif policy1["status"] == "Undercovered" %}
    <span id={{policy1["id"]}} class="tippy item undercovered text-center">

          <img class="proj-cover-img img-responsive center-block"
               src={{policy1["url"]}} width="90" height="90">
          <h4>{{policy1["title"]}}</h4>
          <h4><span class="label label-warning">{{policy1["status"]}}</span></h4>
        </span>
    {% else %}
    <span id={{policy1["id"]}} class="tippy item notcovered text-center">

          <img class="proj-cover-img img-responsive center-block"
               src={{policy1["url"]}} width="90" height="90">
          <h4>{{policy1["title"]}}</h4>
          <h4><span class="label label-danger">{{policy1["status"]}}</span></h4>
        </span>
    {% endif %}

    <div id={{policy1["id2"]}} class="hover-div">
      <div class="hover-div-row text-center">
        <div class="hover-div-item2">
          <img class="proj-cover-img img-responsive center-block"
               src="../static/img/compare.png" width="70" height="80">
        </div>
        <div class="hover-div-item2">
          <img class="proj-cover-img img-responsive center-block"
               src="../static/img/compare1.svg" width="90" height="90">
        </div>
      </div>
      <div class="hover-div-row text-center">
        <div class="hover-div-item2">
          <b>You</b>
        </div>
        <div class="hover-div-item2">
          <b>People Like You</b>
        </div>
      </div>
      <div class="hover-div-row text-center">
        <div class="hover-div-item2">
          {{policy1["coverage-you"]}}
        </div>
        <div class="hover-div-item2">
          {{policy1["coverage-others"]}}
        </div>
      </div>
    </div>
    {% endfor %}


    <script type="text/javascript">

      {% for policy1 in current_policies1 %}
        {% set pid = "#" + policy1["id"] %}
        $(document).ready(function() {
          Tipped.create('{{pid}}', {
                inline: '{{policy1["id2"]}}',
                skin: 'light',
                radius: false,
                padding: false,
                position: 'topleft',
                size: 'large'
          });
        });
      {% endfor %}
    </script>

{% endblock %}
