{% extends "base.html" %}

{% block cssblock %}
<link href="../static/css/mypolicies.css" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);

    function Title_center(){
      var title_chart=$("#payer_chart_div svg g").find('text').html();
      $("#payer_chart_div svg").find('g:first').html('<text text-anchor="start" x="500" y="141" font-family="Arial" font-size="18" font-weight="bold" stroke="none" stroke-width="0" fill="#000000">'+title_chart+'</text>');
    }

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Premium', 'Amount'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          legend: {position:'none'},
          pieHole: 0.6,
          title: "Hello"
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('premiumchart'));
        google.visualization.events.addListener(chart1, 'ready', Title_center);

        chart1.draw(data, options);

        var chart2 = new google.visualization.PieChart(document.getElementById('coveragechart'));
        chart2.draw(data, options);
      }

</script>
{% endblock %}

{% block content %}
<main>
<div class="container">
  <div class="charts text-center">
    <div class="chartitem">
      <div id="premiumchart"></div>
      <h5>Premiums Per Annum</h5>
    </div>
    <div class="chartitem">
      <div id="coveragechart"></div>
      <h5>Coverage Strength</h5>
    </div>
  </div>
  <div class="flexc container">
    {% for policy in current_policies %}
    <div class="item text-center">
      <h4>{{policy["title"]}}</h4>
      <p>{{policy["status"]}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
