{% extends "base.html" %}

{% block cssblock %}
<link href="../static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block xblock %}
<link href="../static/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="../static/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<script src="../static/main.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
         <ul class="nav navbar-nav">
          <li class="active sidelinks"><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="false"></span>   General</a></li>
          <li class="sidelinks"><a href="#"><span class="glyphicon glyphicon-hourglass" aria-hidden="false"></span>   Medical History</a></li>
          <li class="sidelinks"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="false"></span>   Family History</a></li>
          <li class="sidelinks"><a href="#"><span class="glyphicon glyphicon-tint" aria-hidden="false"></span>   Medications</a></li>
          <li class="sidelinks"><a href="#"><span class="glyphicon glyphicon-cutlery" aria-hidden="false"></span>   Allergies</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-9 col-lg-8">
    <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Profile Strength</strong>: Basic
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <div class="alert alert-info" role="alert">
                    <a href="#" class="alert-link"><span class="glyphicon glyphicon-plus-sign" aria-hidden="false"></span> Add your occupation</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Basic Info </strong>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p><strong>Name:</strong> Leow Yao Yang</p>
                <p><strong>Gender:</strong> Male</p>
                <p><strong>Date of Birth:</strong> 26 September 1994</p>

                <div>
                    <span>Username:</span>
                    <a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>
                </div>

                <div>
                    <span>Status:</span>
                    <a href="#" id="status"></a>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-5"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>Leow Yao Yang</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

  </div>
{% endblock %}
