{% extends "base.html" %}

{% block cssblock %}
<link href="../static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
         <ul class="nav navbar-nav">
          <li class="active"><a href="#">General</a></li>
          <li><a href="#">Medical History</a></li>
          <li><a href="#">Family History</a></li>
          <li><a href="#">Medications</a></li>
          <li><a href="#">Allergies</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">
      <h4>Leow Yao Yang</h4>
      <h4>Age: 23</h4>
      <h4>Profile Strength: Basic</h4>
    </div>
  </div>
{% endblock %}
